<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blogs</a>

    <h1>About Me</h1>
    <h2>I love Robotics and AI, as you can see, so is software development.</h2>
</body>
