<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blogs</a>

    <h1>A Set of Thoughts</h1>
    <h3>Holding my floating thoughts and supplementarily a floating me</h3>
</body>
