---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Robotics and AI with Kristin";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        This is a under-construction personal website using Astro (after I tried
        Jekyll and Hugo), where I publish stuffs about Robotics and AI.
    </p>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
