---
import Social from "./Social.astro";
---

<footer>
    <p>
        Check it out on my <Social platform="github" username="Kexin-Wei" />
    </p>
</footer>

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>
